
P3C-presentacion/proyecto_RDTSC/.vs/p3c/v16/Browse.VC.db
P3C-presentacion/proyecto_RDTSC/.vs/p3c/v16/Browse.VC.db-shm
P3C-presentacion/proyecto_RDTSC/.vs/p3c/v16/Browse.VC.db-wal
P3C-presentacion/proyecto_RDTSC/.vs/p3c/v16/Browse.VC.opendb
