
P3C-presentacion/proyecto_RDTSC/.vs/p3c/v16/Browse.VC.db
P3C-presentacion/proyecto_RDTSC/.vs/p3c/v16/Browse.VC.db-shm
P3C-presentacion/proyecto_RDTSC/.vs/p3c/v16/Browse.VC.db-wal
P3C-presentacion/proyecto_RDTSC/.vs/p3c/v16/Browse.VC.opendb
P3C-presentacion/proyecto_rdtsc/.vs/p3c/v16/ipch/AutoPCH/27109399bd5fd34e/QUERYPERFORMANCETIMING_RDTSC.ipch
P3C-presentacion/proyecto_rdtsc/.vs/p3c/v16/ipch/AutoPCH/429d4427cf032130/P3C_RDTSC.ipch
.vs/P1-ASD/v16/.suo
.vs/P1-ASD/v16/Browse.VC.db
.vs/P1-ASD/v16/ipch/AutoPCH/741d6d09b5cd0cf1/P3C_RDTSC.ipch
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
P3C-presentacion/proyecto_RDTSC/.vs/p3c/v16/.suo
P3C-presentacion/proyecto_rdtsc/.vs/p3c/v16/ipch/AutoPCH/27109399bd5fd34e/QUERYPERFORMANCETIMING_RDTSC.ipch
P3C-presentacion/proyecto_rdtsc/.vs/p3c/v16/ipch/AutoPCH/429d4427cf032130/P3C_RDTSC.ipch
P3C-presentacion/proyecto_RDTSC/.vs/p3c/v16/ipch/AutoPCH/fca3db8e920f8a82/P3C_RDTSC.ipch
P3C-presentacion/proyecto_RDTSC/Debug/p3b.log
P3C-presentacion/proyecto_rdtsc/Debug/p3b.vcxproj.FileListAbsolute.txt
P3C-presentacion/proyecto_rdtsc/Debug/p3c.exe
P3C-presentacion/proyecto_rdtsc/Debug/p3c.exe.recipe
P3C-presentacion/proyecto_rdtsc/Debug/p3c.ilk
P3C-presentacion/proyecto_rdtsc/Debug/p3c.pdb
P3C-presentacion/proyecto_RDTSC/Debug/p3c.tlog/CL.command.1.tlog
P3C-presentacion/proyecto_RDTSC/Debug/p3c.tlog/CL.read.1.tlog
P3C-presentacion/proyecto_RDTSC/Debug/p3c.tlog/CL.write.1.tlog
P3C-presentacion/proyecto_rdtsc/Debug/p3c.tlog/link.command.1.tlog
P3C-presentacion/proyecto_rdtsc/Debug/p3c.tlog/link.read.1.tlog
P3C-presentacion/proyecto_rdtsc/Debug/p3c.tlog/link.write.1.tlog
P3C-presentacion/proyecto_RDTSC/Debug/p3c.tlog/p3c.lastbuildstate
P3C-presentacion/proyecto_RDTSC/Debug/p3c.tlog/unsuccessfulbuild
P3C-presentacion/proyecto_rdtsc/Debug/p3c_rdtsc.cod
P3C-presentacion/proyecto_rdtsc/Debug/p3c_rdtsc.obj
P3C-presentacion/proyecto_RDTSC/Debug/QueryPerformanceTiming_rdtsc.cod
P3C-presentacion/proyecto_RDTSC/Debug/QueryPerformanceTiming_rdtsc.obj
P3C-presentacion/proyecto_RDTSC/Debug/vc142.pdb
P3C-presentacion/proyecto_rdtsc/QueryPerformanceTiming_rdtsc.h
P3C-presentacion/proyecto_RDTSC/Release/p3b.log
P3C-presentacion/proyecto_RDTSC/Release/p3b.vcxproj.FileListAbsolute.txt
P3C-presentacion/proyecto_RDTSC/Release/p3c.exe
P3C-presentacion/proyecto_RDTSC/Release/p3c.exe.recipe
P3C-presentacion/proyecto_RDTSC/Release/p3c.iobj
P3C-presentacion/proyecto_RDTSC/Release/p3c.ipdb
P3C-presentacion/proyecto_RDTSC/Release/p3c.pdb
P3C-presentacion/proyecto_RDTSC/Release/p3c.tlog/CL.command.1.tlog
P3C-presentacion/proyecto_RDTSC/Release/p3c.tlog/CL.read.1.tlog
P3C-presentacion/proyecto_RDTSC/Release/p3c.tlog/CL.write.1.tlog
P3C-presentacion/proyecto_RDTSC/Release/p3c.tlog/link.command.1.tlog
P3C-presentacion/proyecto_RDTSC/Release/p3c.tlog/link.read.1.tlog
P3C-presentacion/proyecto_RDTSC/Release/p3c.tlog/link.write.1.tlog
P3C-presentacion/proyecto_RDTSC/Release/p3c.tlog/p3c.lastbuildstate
P3C-presentacion/proyecto_RDTSC/Release/p3c.tlog/p3c.write.1u.tlog
P3C-presentacion/proyecto_RDTSC/Release/p3c_rdtsc.obj
P3C-presentacion/proyecto_RDTSC/Release/vc142.pdb
.vs/P1-ASD/v16/.suo
.vs/P1-ASD/v16/Browse.VC.db
.vs/P1-ASD/v16/ipch/AutoPCH/741d6d09b5cd0cf1/P3C_RDTSC.ipch
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
P3C-presentacion/proyecto_RDTSC/.vs/p3c/v16/.suo
P3C-presentacion/proyecto_rdtsc/.vs/p3c/v16/ipch/AutoPCH/27109399bd5fd34e/QUERYPERFORMANCETIMING_RDTSC.ipch
P3C-presentacion/proyecto_rdtsc/.vs/p3c/v16/ipch/AutoPCH/429d4427cf032130/P3C_RDTSC.ipch
P3C-presentacion/proyecto_RDTSC/.vs/p3c/v16/ipch/AutoPCH/fca3db8e920f8a82/P3C_RDTSC.ipch
P3C-presentacion/proyecto_RDTSC/Debug/p3b.log
P3C-presentacion/proyecto_rdtsc/Debug/p3b.vcxproj.FileListAbsolute.txt
P3C-presentacion/proyecto_rdtsc/Debug/p3c.exe
P3C-presentacion/proyecto_rdtsc/Debug/p3c.exe.recipe
P3C-presentacion/proyecto_rdtsc/Debug/p3c.ilk
P3C-presentacion/proyecto_rdtsc/Debug/p3c.pdb
P3C-presentacion/proyecto_RDTSC/Debug/p3c.tlog/CL.command.1.tlog
P3C-presentacion/proyecto_RDTSC/Debug/p3c.tlog/CL.read.1.tlog
P3C-presentacion/proyecto_RDTSC/Debug/p3c.tlog/CL.write.1.tlog
P3C-presentacion/proyecto_rdtsc/Debug/p3c.tlog/link.command.1.tlog
P3C-presentacion/proyecto_rdtsc/Debug/p3c.tlog/link.read.1.tlog
P3C-presentacion/proyecto_rdtsc/Debug/p3c.tlog/link.write.1.tlog
P3C-presentacion/proyecto_RDTSC/Debug/p3c.tlog/p3c.lastbuildstate
P3C-presentacion/proyecto_RDTSC/Debug/p3c.tlog/unsuccessfulbuild
P3C-presentacion/proyecto_rdtsc/Debug/p3c_rdtsc.cod
P3C-presentacion/proyecto_rdtsc/Debug/p3c_rdtsc.obj
P3C-presentacion/proyecto_RDTSC/Debug/QueryPerformanceTiming_rdtsc.cod
P3C-presentacion/proyecto_RDTSC/Debug/QueryPerformanceTiming_rdtsc.obj
P3C-presentacion/proyecto_RDTSC/Debug/vc142.pdb
P3C-presentacion/proyecto_rdtsc/QueryPerformanceTiming_rdtsc.h
P3C-presentacion/proyecto_RDTSC/Release/p3b.log
P3C-presentacion/proyecto_RDTSC/Release/p3b.vcxproj.FileListAbsolute.txt
P3C-presentacion/proyecto_RDTSC/Release/p3c.exe
P3C-presentacion/proyecto_RDTSC/Release/p3c.exe.recipe
P3C-presentacion/proyecto_RDTSC/Release/p3c.iobj
P3C-presentacion/proyecto_RDTSC/Release/p3c.ipdb
P3C-presentacion/proyecto_RDTSC/Release/p3c.pdb
P3C-presentacion/proyecto_RDTSC/Release/p3c.tlog/CL.command.1.tlog
P3C-presentacion/proyecto_RDTSC/Release/p3c.tlog/CL.read.1.tlog
P3C-presentacion/proyecto_RDTSC/Release/p3c.tlog/CL.write.1.tlog
P3C-presentacion/proyecto_RDTSC/Release/p3c.tlog/link.command.1.tlog
P3C-presentacion/proyecto_RDTSC/Release/p3c.tlog/link.read.1.tlog
P3C-presentacion/proyecto_RDTSC/Release/p3c.tlog/link.write.1.tlog
P3C-presentacion/proyecto_RDTSC/Release/p3c.tlog/p3c.lastbuildstate
P3C-presentacion/proyecto_RDTSC/Release/p3c.tlog/p3c.write.1u.tlog
P3C-presentacion/proyecto_RDTSC/Release/p3c_rdtsc.obj
P3C-presentacion/proyecto_RDTSC/Release/vc142.pdb
P3C-presentacion/proyecto_RDTSC/Release/p3c.tlog/p3c.lastbuildstate
P3C-presentacion/proyecto_RDTSC/Release/p3c.tlog/p3c.lastbuildstate
P3C-presentacion/proyecto_RDTSC/Release/p3c.tlog/link.write.1.tlog
P3C-presentacion/proyecto_RDTSC/Release/p3c.tlog/link.command.1.tlog
P3C-presentacion/proyecto_RDTSC/Release/p3c.tlog/CL.write.1.tlog
P3C-presentacion/proyecto_RDTSC/Release/p3c.tlog/CL.read.1.tlog
P3C-presentacion/proyecto_RDTSC/Release/p3c.tlog/CL.command.1.tlog
P3C-presentacion/proyecto_RDTSC/Release/p3c.exe.recipe
P3C-presentacion/proyecto_RDTSC/Release/p3b.vcxproj.FileListAbsolute.txt
P3C-presentacion/proyecto_RDTSC/Release/p3b.log
P3C-presentacion/proyecto_rdtsc/QueryPerformanceTiming_rdtsc.h
P3C-presentacion/proyecto_RDTSC/Debug/vc142.pdb
P3C-presentacion/proyecto_RDTSC/Debug/QueryPerformanceTiming_rdtsc.obj
P3C-presentacion/proyecto_RDTSC/Debug/QueryPerformanceTiming_rdtsc.cod
P3C-presentacion/proyecto_RDTSC/Debug/p3c.tlog/unsuccessfulbuild
P3C-presentacion/proyecto_RDTSC/Debug/p3c.tlog/p3c.lastbuildstate
P3C-presentacion/proyecto_RDTSC/Debug/p3c.tlog/CL.write.1.tlog
P3C-presentacion/proyecto_RDTSC/Debug/p3c.tlog/CL.read.1.tlog
P3C-presentacion/proyecto_RDTSC/Debug/p3c.tlog/CL.command.1.tlog
P3C-presentacion/proyecto_RDTSC/Debug/p3b.log
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/P1-ASD/v16/Browse.VC.db
.vs/P1-ASD/v16/.suo
.vs/slnx.sqlite
